@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media screen and (min-width: 375px) {
  * {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

  body {
    background: #e5e5e5;
  }

  header {
    display: flex;
    margin-bottom: -1%;
    background: #ffff;
  }

  .heading {
    background: url(images/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    border-bottom-left-radius: 50px;
    height: 557px;
    background-color: #ffff;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: auto 5%;
    width: 100%;
    padding: 15px 0;
  }

  a {
    text-decoration: none;
  }

  .navbar-brand a {
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6070ff;
  }

  ul {
    list-style-type: none;
  }

  .hamburger {
    display: block;
  }

  p {
    font-weight: 300;
  }

  .bar {
    display: block;
    width: 25px;
    height: 2.6px;
    margin: 5px auto;
    background-color: #6070ff;
  }

  .header-container {
    padding: 100px 7%;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
  }

  h1 {
    display: flex;
    font-size: 29px;
    color: #172b4d;
  }

  .connect {
    font-size: 17px;
    font-weight: 600;
    color: #6070ff;
  }

  .socialmedia-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  /* works section */
  .works {
    padding-bottom: 20%;
  }

  .cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 10%;
    grid-gap: 2%;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    background-color: #ffff;
    border-radius: 20px;
    padding: 3%;
  }

  .dot {
    width: 12px;
    height: 12px;
    background-color: #e5e5e5;
    margin-top: 5px;
    border-radius: 10px;
  }

  .left-block {
    margin-top: 2%;
  }

  h2 {
    color: #172b4d;
    font-size: 38px;
    font-weight: 900;
  }

  .list1 {
    display: flex;
    gap: 5%;
    font-size: 14px;
    font-weight: 900;
    margin-top: 2%;
    color: #7a869a;
  }

  .list1 #canopy {
    color: #344563;
  }

  .p {
    font-size: 18px;
  }

  .p2 {
    margin-top: 5%;
    font-size: 18px;
  }

  .list2 {
    display: flex;
    gap: 4%;
    margin-top: 10%;
  }

  .badge {
    background-color: #ebebff;
    color: #6070ff;
    padding: 4px 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
  }

  .see-project {
    margin-top: 10%;
    margin-bottom: 3%;
    background-color: #ffff;
    color: #6070ff;
    padding: 12px 26px;
    text-align: center;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
  }

  .about-myself {
    background-color: white;
    padding-bottom: 50%;
    border-top-right-radius: 15%;
  }

  .container-myself {
    padding: 24px 7%;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    padding-top: 90px;
  }

  h3 {
    font-size: 47px;
    font-weight: 900;
  }

  .resume {
    background-color: #ffff;
    color: #6070ff;
    padding: 12px 6px;
    width: 164px;
    text-align: center;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
  }

  #paragraph {
    font-size: 18px;
  }

  .language {
    padding: 0 7%;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
  }

  h4 {
    font-size: 27px;
    font-weight: 900;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .badge1 {
    background-color: #f7f7f9;
    display: flex;
    font-size: 27px;
    gap: 7%;
    margin-left: auto;
    margin-bottom: 2%;
    margin-right: auto;
    width: 100%;
    padding: 24px 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: 400;
  }

  h5 {
    font-size: 26px;
  }

  h6 {
    color: #ffff;
    font-size: 47px;
  }

  .lang {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }

  .framework {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }

  .skills {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }

  .fa {
    color: #acb7c3;
  }

  .contact-form {
    background: #6070ff;
    background-image: url(images/contact-form.png);
    background-position-x: right;
    background-size: 65% 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 15%;
    height: 730px;
    margin-top: -20%;
  }

  .contact-container {
    padding: 83px 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #parag {
    color: white;
    font-size: 20px;
    padding-left: auto;
    text-indent: 44px;
    width: 90%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #name {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 8px;
    margin-top: 5%;
    border-radius: 5px;
    border: 0;
  }

  #email {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 8px;
    border-radius: 5px;
    margin-top: 3%;
    border: 0;
  }

  #msg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 132px 8px;
    margin-top: 3%;
    border-radius: 5px;
    border: 0;
    padding-top: 17px;
  }

  .getintouch {
    background-color: #ffff;
    color: #6070ff;
    padding: 12px 6px;
    width: 164px;
    text-align: center;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 10%;
  }

  #desk {
    display: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
  }

  .navbar {
    margin: 0;
    position: fixed;
    left: -170%;
    top: 0;
    padding-top: 20%;
    margin-left: 2;
    padding-right: 64%;
    flex-direction: column;
    background-color: #3848dac3;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    display: flex;
  }

  .navbar.active {
    left: 0;
  }

  .navbar.active .nav-link {
    color: #fff;
    justify-content: flex-start;
    padding-left: 20px;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    gap: 25px;
    color: #344563;
    position: relative;
    left: 0%;
    background-color: transparent;
    backdrop-filter: none;
    flex-direction: row;
    padding: 0%;
    width: 32%;
    font-size: 15px;
  }

  .heading {
    background: url(images/Header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
  }

  .header-container {
    padding: 170px 17%;
  }

  .p {
    margin-top: 0%;
  }

  .p2 {
    margin-top: 2%;
    font-size: 15px;
  }

  .list2 {
    margin-top: 4%;
  }

  .left-block {
    margin: 2%;
    width: 50%;
    padding-bottom: 7%;
  }

  .cards {
    grid-gap: 120px;
  }

  .card {
    flex-direction: row;
    gap: 30px;
    padding: 8px 8px;
    justify-content: space-between;
  }

  .card img {
    width: 50%;
  }

  #mob {
    display: none;
  }

  #desk {
    display: flex;
  }

  #swap img {
    order: 2;
  }

  .works {
    padding-bottom: 15%;
  }

  #swap2 img {
    order: 2;
  }

  .badge {
    text-transform: lowercase;
    font-size: 14px;
  }

  .badge #desk {
    display: none;
  }

  .about-myself {
    display: flex;
    padding-bottom: 26%;
  }

  .container-myself {
    width: 50%;
    padding: 24px 3%;
    padding-top: 100px;
  }

  .language {
    width: 52%;
    margin-top: 0%;
    padding-top: 112px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
  }

  .list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5%;
  }

  .lang {
    color: #344563;
  }

  .socialmedia-icons {
    gap: 20px;
  }

  .badge1 {
    flex-direction: column;
    font-size: 16px;
    gap: 4%;
    margin: 0%;
    width: 23%;
    text-align: center;
    padding-right: 56px;
    padding-left: 6px;
    padding-top: 18px;
    padding-bottom: 34px;
  }

  #paragraph {
    color: #344563;
  }

  .framework {
    color: #344563;
  }

  .skills {
    color: #344563;
  }

  .contact-form {
    background-image: url('images/Deskcontact.png');
    background-size: 100% 100%;
  }

  .contact-container {
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 66%;
  }

  #parag {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }

  #name {
    border-radius: 2px;
  }

  #email {
    border-radius: 2px;
  }

  #msg {
    border-radius: 2px;
  }

  .getintouch {
    margin-left: auto;
    margin-right: auto;
  }
}
